('2009-06-11 22:59:40', 'http://twitter.com/marenda', 'Jonas Brothers playing free show in NY - Reuters: StarPhoenixJonas Brothers playing free show in NYReutersBy Dav.. http://bit.ly/hhNSY')
('2009-06-11 22:59:40', 'http://twitter.com/miabellacandle', 'Good article - Recruiting Your Friends and Family Vs Real Interested Business Seekers: http://tinyurl.com/kof24y')
('2009-06-11 22:59:40', 'http://twitter.com/mikegray40', 'Prediction: Detroit Red Wings on Stanley Cup Final, Game 7: Which team will score the first goal? http://hubdub.com/s/9EMRG')
('2009-06-11 22:59:40', 'http://twitter.com/morochamclean', 'lets see...game or study?hmm..wt one I get fun..wtout one I get ass kick...hmm I think I better go hit the books lol! #BSB')
('2009-06-11 22:59:40', 'http://twitter.com/mr_nolte', '@LornaDahl Lots of Google logos http://tinyurl.com/nloorb')
('2009-06-11 22:59:40', 'http://twitter.com/nickymason', 'Here\'s some great tunes for y\'all - White Rabbits "Percussion Gun" Official Video http://bit.ly/NLG88')
('2009-06-11 22:59:40', 'http://twitter.com/paulwaite', "Oh dear. 'Safe' cigarettess? This is like MacDonalds 'healthy' food only worse. Get fucked tobacco companies http://is.gd/Zdra")
('2009-06-11 22:59:40', 'http://twitter.com/popfeed', '[perezhilton] Even Better In The Flesh! http://tinyurl.com/n3szwq')
('2009-06-11 22:59:40', 'http://twitter.com/searchdog', 'NYT:: Simon & Schuster to Sell Digital Books on Scribd.com: The publisher said it would make about 5,000 ti.. http://tinyurl.com/lvesgk')
('2009-06-11 22:59:40', 'http://twitter.com/sisco2121', 'The Top Selling World o