{% extends 'base.html' %}
{% block head %}
<script>
$(document).ready(function() {
    // JQuery code to be added in here.

    $('#norm').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url "normalize" %}",
               data: {'norm_text': $(this).attr('name'), 'csrfmiddlewaretoken': '{{csrf_token}}'},
               dataType: "text",
               success: function(data) {
                      alert('Normalization Completed: '+ data)
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    })
});
</script>
{% endblock %}
{% block content %}
<script>
function copyText(dd)
{
var my_li = $(this).parent();
alert(my_li.children('p').eq(0).text());
my_li.getElementsByTagName('p')[1].innerHTML = my_li.getElementsByTagName('p')[0].innerHTML;
}
</script>

<div id="content">
  <div id="posts">
    <div class="post">
      <h2 class="title">A Few Examples of {{ title }}</h2>
      <div class="story">
	<p><strong></strong>Here is the list of {{ title|lower }}.</p>
	  <div id="listed">
            <ul>
	        {% if camps %}
                  {% for camp in camps %}
                    <li><a href="{% url "campaign2" camp.id %}">{{ camp.desc }}</a></li>
                  {% endfor %}
		{% elif tweets %}

                  {% for tweet in tweets %}
                    <li><p>{{ tweet.text }}</p> <br>
		     <p class="colored">  {{ tweet.text }}</p>
		     <input type="button" id="norm" name="{{ tweet.text }}" value="Normalize" />
		    </li>
                  {% endfor %}

		{% else %}
		    <strong>There are no categories present.</strong>
		{% endif %}
            </ul>
	  </div>
      </div>
    </div>
  </div>

	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->
{% endblock %}
